/* DAY 2 shenanigans */
h1,
h2,
h3 {
    color: lightseagreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1rem;
    font-style: italic;
    text-transform: uppercase;
    color: hsl(13, 91%, 46%);
}


li {
    margin: 0.5rem 0;
}
button {
    margin: 0 0.2rem;
}

main {
    display: flex;
}

section[data-function='choice'] {
    margin: 3rem;
    display: flex;
    flex-direction: column;
}

button[data-name='repo-choice']{
    margin-bottom: 0.5rem;
    padding: 0.5em 1em;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    background: hsl(28, 100%, 86%);
    border: none;
    border-radius: 3%;
    transition: background 0.4s ease-in 0s;
}
button[data-name='repo-choice']:hover{
    cursor: pointer;
    background: hsla(202, 100%, 86%, 0.666);
}

